/**
 * Authentication Styles
 * 
 * This file contains styles for the authentication pages (login/register/forgot password/ reset password).
 * It includes styles for the authentication container and card components.
 *
 * Container:
 * - Centered vertically and horizontally on the page
 * - Full viewport height with padding
 * - Different background color on larger screens
 * 
 * Card:
 * - Responsive width (100% on mobile, 380px on larger screens) 
 * - No border by default, rounded corners on larger screens
 * - Elevated with shadow
 * - Higher z-index to appear above background gradient
 */


.authentication-container {
    min-height: 100vh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    @include media-breakpoint-up(sm) {
        background-color: $body-bg;
    }

    &.d-block {
        @include gradient-x($primary, darken($primary, 16%), 40%);

        .row {
            min-height: inherit;
        }

        .col-wrapper {
            min-height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
        }

        .authentication-card {
            border-radius: 0;
            box-shadow: none;
        }
    }
}

.authentication-card {
    width: 100%;
    border-width: 0;
    border-radius: 0;
    z-index: 2;

    @media (min-width: 400px) {
        width: 380px;
    }

    @include media-breakpoint-up(sm) {
        border-radius: 12px;
    }

    .card-header {
        background-color: transparent;
        border-bottom-width: 0;
        padding: 24px 32px 12px 32px;
        margin: 0;
    }

    .card-body {
        padding: 0 32px;
        margin: 0;
        position: relative;

        small {
            font-size: 10px;
            color: $secondary;
            display: block;
        }

        strong {
            font-weight: $font-weight-semibold;
            color: $dark;
        }
    }

    .card-footer {
        background-color: transparent;
        text-align: center;
        color: $secondary;
        border-top-width: 0;
        padding: 12px 32px 24px 32px;
        margin: 0;
    }

    .header-logo-text {
        font-size: 28px;
    }

    .card-title {
        letter-spacing: 0;
        margin: 4px 0;
        font-weight: 500;
        font-size: 24px;
        color: $dark;
    }

    .card-text {
        color: $secondary;
        font-size: 12px;
        margin: 4px 0;
    }

    .card-thumb {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        width: 28px;
        height: 28px;
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    .form-label {
        font-weight: $font-weight-medium;
        font-size: $font-size-sm;
        display: block;
    }

    .form-control {
        font-weight: $font-weight-medium;
        color: $dark;
        height: 40px;

        &::placeholder {
            font-weight: 400;
            color: rgba($secondary, .6);
            text-shadow: none;
        }

        &:focus {
            border-color: $primary;
        }
    }

    .btn {
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 12px;
        font-family: $ff-secondary;
        letter-spacing: 1px;
        color: #fff;

        i {
            line-height: 1;
            font-size: 16px;
            margin-right: 5px;
        }
    }

    .divider {
        text-transform: uppercase;
        font-family: $ff-secondary;
        letter-spacing: .5px;

        span {
            font-size: 10px;
            color: rgba($secondary, .75);
        }
    }

    .password-input-container {
        position: relative;
    }

    .password-icon {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    .btn-authentication {
        margin-top: 16px;
    }
}
